{% load staticfiles %}			
			<div class="main_r">
				<ul>
					<li><a href="#"><img src="{% static 'images/icons8-首页-32_white.png' %}" alt=""></a>
						<div><a class="text" href="/index/">首页</a></div>
					</li>
					<li><a href="#"><img src="{% static 'images/icons8-项目符号列表-32_white.png' %}" alt=""></a>
						<div><a class="text" href="#">工作计划</a></div>
					</li>
					<li><a href="#"><img src="{% static 'images/icons8-编辑属性-32_white.png' %}" alt=""></a>
						<div><a class="text" href="#">总结</a></div>
					</li>
					<li><a href="#"><img src="{% static 'images/icons8-缩略图-32_white.png' %}" alt=""></a>
						<div><a class="text" href="#">其他</a></div>
					</li>
				</ul>
			</div>